body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
  color: #333;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  height: 4em;
  width: 30em;
  border-radius: 0.5em;
}

.button {
  height: 3em;
  margin-left: 1em;
  margin-bottom: 0.4em;
  border-radius: 0.5em;
}
